{% extends 'base.html' %}

{% block title %}Lista de EHRs{% endblock %}

{% block header %}
    <h1>Lista de EHRs</h1>
{% endblock %}

{% block body %}
    <table class="simpleBorder">
        <tr>
            <th>Id do EHR</th>
            <th>Detalhes</th>
        </tr>
        {% for ehr_id in ehr_ids %}
            <tr>
                <td>{{ ehr_id }}</td>
                <td>
                    <a href="/ehrs/{{ ehr_id }}">
                        Mais detalhes
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
